.selectbox  {
    //($select-width, $select-height, $select-btn-width, $select-btn-picture)
    //.inlineblock;
    margin-left: 3px;

    &.opened {
        .selectbox__display {
            border-bottom: 0 none;
            padding-bottom: 1px;

            &:hover {
                background: #edecec;
            }
        }

        .selectbox__dropdown {
            display: block;
        }
    }


    .selectbox__inner {
        position: relative;
    }

    .selectbox__display {
        //width: $select-width;
        border: 1px solid #B3BCC6;
        background: #ffffff;
        cursor: pointer;
        overflow: hidden;
        position: relative;
        height: 25px;
        @include border-radius(3px);
        &:after {
            content: "";
            position: absolute;
            display: block;
            width: 6px;
            height: 6px;
            border: 1px solid;
            border-color: #80878A;
            border-left: none;
            border-bottom: none;
            right: 10px;
            top: 50%;
            margin-top: -3px;
            @include rotate(135deg);
        }
        &:hover {
            border-color: #B9DAA7;
            background: #6CB33E;
            .selectbox__title-text {
                color: #fff;
            }
            &:after {
                border-color: #fff;
            }
        }
    }

    .selectbox__display-title {
        float: left;
    }

    .selectbox__title-text {
        font-size: 14px;
        line-height: 25px;
        color: $copy-color-dark;
        padding-left: 11px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .selectbox__display-btn {
        //width: $select-btn-width;
        float: left;
        //height: $select-height;
        background: transparent;
        top: 0;
        right: 0;
        position: absolute;
    }

    .selectbox__btn-icon {
        // width: $select-btn-width;
        // height: $select-height;
        // background: $select-btn-picture center center no-repeat;
    }

    .selectbox__dropdown {
        position: absolute;
        top: 100%;
        left: 0px;
        right: 0px;
        background: #ffffff;
        border: 1px solid #bdbdbd;
        border-top: 0 none;
        
        overflow: hidden;
        display: none;
        z-index: 1000;
    }

    .selectbox__dropdown-item {
        &.selected {
            .selectbox__item-link {
                background: #edecec;
            }
        }
    }

    .selectbox__item-link {
        font-size: 12px;
        line-height: 14px;
        color: #686868;
        padding-left: 13px;
        padding-top: 5px;
        padding-bottom: 5px;
        cursor: pointer;
        display: block;
        &:hover {
            background: #edecec;
        }
    }
}