.selectbox  {
    margin-left: 3px;

    &.opened {
        .selectbox__display {
            padding-bottom: 1px;
            &:hover {
                background: $button-active-bg;
            }
        }

        .selectbox__dropdown {
            display: block;
        }
    }

    .selectbox__inner {
        position: relative;
    }

    .selectbox__display {
        border: 1px solid #B3BCC6;
        background: $white;
        cursor: pointer;
        overflow: hidden;
        position: relative;
        height: $select-box-height;
        @include border-radius(3px);
        @include transition(all 0.1s ease-in-out);
        &:after {
            content: "";
            position: absolute;
            display: block;
            width: 6px;
            height: 6px;
            border: 1px solid;
            border-color: #80878A;
            border-left: none;
            border-bottom: none;
            right: 10px;
            top: 50%;
            margin-top: -3px;
            @include rotate(135deg);
        }
        &:hover {
            border-color: $button-active-border;
            background: $button-active-bg;
            .selectbox__title-text {
                color: $white;
            }
            &:after {
                border-color: $white;
            }
             &:active {
                @include box-shadow($button-box-shadow);
            }
        }
        &:active {
            @include box-shadow($button-box-shadow);
        }
    }

    .selectbox__display-title {
        float: left;
    }

    .selectbox__title-text {
        font-size: 14px;
        line-height: $select-box-height - 2px; //border
        color: $copy-color-dark;
        padding-left: 11px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .selectbox__display-btn {
        float: left;
        background: transparent;
        top: 0;
        right: 0;
        position: absolute;
    }

    .selectbox__dropdown {
        position: absolute;
        top: 100%;
        left: 0px;
        right: 0px;
        background: $white;
        border: 1px solid #B1C0CC;
        overflow: hidden;
        display: none;
        z-index: 1000;
    }

    .selectbox__dropdown-item {
        &.selected {
            .selectbox__item-link {
                background: $white;
                &:hover {
                    background: #DAEBCF;
                }
            }
        }
    }

    .selectbox__item-link {
        font-size: 14px;
        line-height: 2;
        color: #414A55;
        padding-left: 13px;
        cursor: pointer;
        display: block;
        &:hover {
            background: #DAEBCF;
        }
    }
}