// bower:scss
// endbower

@import "compass";
@import "../bower_components/meyer-reset/stylesheets/meyer-reset";

@import "modal-variables";
@import "modal-select";
@import "modal-checkbox";





html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    a {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    }
}

*, 
*:before, 
*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}


body {
    font-family: Arial, sans-serif;
    font-size: $copy-font-size;
}
    
.modal {
    &__main-header {
        font-size: $header-font-size;
        color: #566877;
        margin: 0 0 22px 0;
        padding: 0;
    }
    &__sub-header {
        font-size: $header-sub-font-size; 
        color: #5E6E7D;
        border-bottom: 1px solid #D5DDE1;
        @include box-shadow(0 1px 0 rgba(0, 0, 0, 0.1));
    }
    &__steps {
        margin: 0;
        padding: 0;
        &__item {
            font-size: $tabs-font-size;
            font-weight: 700;
            line-height: 2;
            color: #91A0AA;
            text-transform: uppercase;
            margin: 0 2.5px;
            width: 158px;
            display: inline-block;
            border-bottom: 5px solid #91A0AA;
            &:first-child {
                margin-left: 0;
            }
            &:last-child {
                margin-right: 0;
            }
            &--active {
                @extend .modal__steps__item;
                border-bottom-color: #6db33f;
                color: #6db33f;
            }
            &--available {
                @extend .modal__steps__item;
                border-bottom-color: #3a87c5;
                color: #3a87c5;
            }
        }
    }
}



.hidden {    
    position: absolute;
    left: -99999px;
}

input[type=radio]:checked + label.type {
    &--dedicated {
        background-image: url(../images/Desktop_Dedicated_On_65p.png);
    }
    &--floating {
        background-image: url(../images/Desktop_Floating_On_65p.png);
    }
    &--session {
        background-image: url(../images/Desktop_Session_On_65p.png);
    }
}

input[type=radio] + label.type {
    width: 65px;
    height: 65px;
    cursor: pointer;
    display: inline-block;
    background-repeat: no-repeat;
    &--dedicated {
        @extend label.type;
        background-image: url(../images/Desktop_Dedicated_Off_65p.png);
        &:hover {
            background-image: url(../images/Desktop_Dedicated_On_65p.png);
        }
    }
    &--floating {
        @extend label.type;
        background-image: url(../images/Desktop_Floating_Off_65p.png);
        &:hover {
            background-image: url(../images/Desktop_Floating_On_65p.png);
        }
    }
    &--session {
        @extend label.type;
        background-image: url(../images/Desktop_Session_Off_65p.png);
        &:hover {
            background-image: url(../images/Desktop_Session_On_65p.png);
        }
    }
}















.modal {
    @include opacity(1);
    visibility: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: left;
    background: rgba(0,0,0, .7);
    @include transition(opacity 0.25s ease-in-out);
}

.modal__bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: pointer;
}

.modal-state {
    display: none;
}

.modal-state:checked + .modal {
    @include opacity(1);
    visibility: visible;
}

.modal-state:checked + .modal .modal__inner {
    top: 0;
}

.modal__inner {
  //@include transition(top 0.35s ease-in-out);
  position: absolute;
  top: -20%;
  right: 0;
  bottom: 0;
  left: 0;
  width: 50%;
  margin: auto;
  overflow: auto;
  background: #fff;
  padding: 16px 30px 20px;
  height: 540px;
  width: 722px;
}

.modal__close {
  position: absolute;
  right: 1em;
  top: 1em;
  width: 1.1em;
  height: 1.1em;
  cursor: pointer;
}

.modal__close:after,
.modal__close:before {
  content: '';
  position: absolute;
  width: 2px;
  height: 1.5em;
  background: #ccc;
  display: block;
  transform: rotate(45deg);
  left: 50%;
  margin: -3px 0 0 -1px;
  top: 0;
}

.modal__close:hover:after,
.modal__close:hover:before {
  background: #aaa;
}

.modal__close:before {
  transform: rotate(-45deg);
}



/* Other
 * =============================== */




.btn {
  cursor: pointer;
  background: #27ae60;
  display: inline-block;
  padding: .5em 1em;
  color: #fff;
  border-radius: 3px;
}

.btn:hover,
.btn:focus {
  background: #2ecc71;
}

.btn:active {
  background: #27ae60;
  box-shadow: 0 1px 2px rgba(0,0,0, .2) inset;
}

