// bower:scss
// endbower

@import "compass";
@import "../bower_components/meyer-reset/stylesheets/meyer-reset";
//@import "../bower_components/jquery.selectBoxIt/src/stylesheets/jquery.selectBoxIt";

@import "modal-variables";
@import "modal-select";
@import "modal-checkbox";





html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    a {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    }
}

*, 
*:before, 
*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}


body {
    font-family: Arial, sans-serif;
    font-size: $copy-font-size;
}


.hidden {    
    display: none;
}
.required {
    &:before {
        content: "*";
        margin-left: -5px;
    }
}
    
.modal {
    &__main-header {
        font-size: $header-font-size;
        color: #415464;
        margin: 0 0 22px 0;
        padding: 0;
    }
    &__sub-header {
        margin-top: 48px;
        margin-bottom: 24px;
        line-height: 2;
        font-size: $header-sub-font-size; 
        color: $copy-color-dark;
        border-bottom: 1px solid $border-color;
    }
    &__steps {
        margin: 0 0 26px 0;
        padding: 0;
        &__item {
            font-size: $tabs-font-size;
            font-weight: 700;
            line-height: 2;
            color: $disabled-state;
            text-transform: uppercase;
            margin: 0 2.5px;
            width: 158px;
            display: inline-block;
            border-bottom: 5px solid $disabled-state;
            &:first-child {
                margin-left: 0;
            }
            &:last-child {
                margin-right: 0;
            }
            &--active {
                @extend .modal__steps__item;
                border-bottom-color: $active-state;
                color: $active-state;
            }
            &--available {
                @extend .modal__steps__item;
                border-bottom-color: $available-state;
                color: $available-state;
            }
        }
    }
}


.section {
    $element-dimensions: 65px;
    &__vmType {
        height: $element-dimensions;
        &__header {
            display: inline-block;
            width: 166px;
            vertical-align: top;
            margin-top: $element-dimensions / 2;
            color: #697785;
            text-indent: 30px;
        }
        &__details {
            width: $element-dimensions;
            height: $element-dimensions;
            margin-right: 48px;
            cursor: pointer;
            display: inline-block;
            background-repeat: no-repeat;
            position: relative;
            &--dedicated {
                @extend .section__vmType__details;
                background-image: url(../images/Desktop_Dedicated_Off_65p.png);
                &:hover {
                    background-image: url(../images/Desktop_Dedicated_On_65p.png);
                }
            }
            &--floating {
                @extend .section__vmType__details;
                background-image: url(../images/Desktop_Floating_Off_65p.png);
                &:hover {
                    background-image: url(../images/Desktop_Floating_On_65p.png);
                }
            }
            &--session {
                @extend .section__vmType__details;
                background-image: url(../images/Desktop_Session_Off_65p.png);
                &:hover {
                    background-image: url(../images/Desktop_Session_On_65p.png);
                }
            }
        }
        &__name {
            display: block;
            position: absolute;
            bottom: -23px;
            width: 100%;
            text-align: center;
            color: $copy-color-light;
        }
    }
}


input[type=radio]:checked + label.section__vmType__details {
    position: relative;
    z-index: 1;
    &:after {
        content: "";
        position: absolute;
        display: block;
        top: 2px;
        right: 2px;
        bottom: 2px;
        left: 2px;
        z-index: -1;
        @include border-radius(50%);
        @include box-shadow(0 0 8px rgba(109, 179, 63, 0.8));
    }
    .section__vmType__name {
        color: $copy-color-dark;
    }
    &--dedicated {
        background-image: url(../images/Desktop_Dedicated_On_65p.png);
    }
    &--floating {
        background-image: url(../images/Desktop_Floating_On_65p.png);
    }
    &--session {
        background-image: url(../images/Desktop_Session_On_65p.png);
    }
}

.section {
    &__form {
        &__header{
            display: inline-block;
            width: 166px;
            color: #697785;
            text-indent: 26px;
        }
        &__select {
            width: 300px;
            display: inline-block;
        }
    }
}













.modal {
    @include opacity(1);
    visibility: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: left;
    background: rgba(0,0,0, .7);
    @include transition(opacity 0.25s ease-in-out);
}

.modal__bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: pointer;
}

.modal-state {
    display: none;
}

.modal-state:checked + .modal {
    @include opacity(1);
    visibility: visible;
}

.modal-state:checked + .modal .modal__inner {
    top: 0;
}

.modal__inner {
  //@include transition(top 0.35s ease-in-out);
  position: absolute;
  top: -20%;
  right: 0;
  bottom: 0;
  left: 0;
  width: 50%;
  margin: auto;
  overflow: auto;
  background: #fff;
  padding: 16px 30px 20px;
  height: 540px;
  width: 722px;
}

.modal__close {
  position: absolute;
  right: 1em;
  top: 1em;
  width: 1.1em;
  height: 1.1em;
  cursor: pointer;
}

.modal__close:after,
.modal__close:before {
  content: '';
  position: absolute;
  width: 2px;
  height: 1.5em;
  background: #ccc;
  display: block;
  transform: rotate(45deg);
  left: 50%;
  margin: -3px 0 0 -1px;
  top: 0;
}

.modal__close:hover:after,
.modal__close:hover:before {
  background: #aaa;
}

.modal__close:before {
  transform: rotate(-45deg);
}



/* Other
 * =============================== */




.btn {
  cursor: pointer;
  background: #27ae60;
  display: inline-block;
  padding: .5em 1em;
  color: #fff;
  border-radius: 3px;
}

.btn:hover,
.btn:focus {
  background: #2ecc71;
}

.btn:active {
  background: #27ae60;
  box-shadow: 0 1px 2px rgba(0,0,0, .2) inset;
}

